<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Estilo</title>
</head>
<body>
    <h1>{%if estilo%}Editar Estilo{%else%}Cadastrar Estilo{%endif%}</h1>
  
    <form action="" method="POST">
        {% csrf_token %}
        <label for="txtnomeid">Nome</label>
        <input type="text" name="nome" id="txtnomeid" value="{% if estilo%}{{estilo.nome}}{%endif%}">
        <br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="{%url 'listar_estilo' %}">Voltar para a lista</a>
</body>
</html>